# Ignorar node_modules para Node.js y React
solicitudesApi/node_modules/
frontsolicitudes/node_modules/

# Ignorar archivos de construcción de React
frontsolicitudes/build/

# Ignorar archivos de logs
*.log
solicitudesApi/logs/
solicitudesApi/*.log
frontsolicitudes/logs/
frontsolicitudes/*.log

# Ignorar dependencias de lockfile
yarn.lock
solicitudesApi/package-lock.json
frontsolicitudes/package-lock.json

# Ignorar archivos de entorno
#solicitudesApi/.env
#frontsolicitudes/.env

# Ignorar directorios de caché y compilación
solicitudesApi/.cache/
frontsolicitudes/.cache/
solicitudesApi/dist/
solicitudesApi/.nuxt/
solicitudesApi/build/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de editores de texto y entornos de desarrollo
.idea/
.vscode/
*.swp

# Ignorar resultados de test
frontsolicitudes/coverage/
solicitudesApi/coverage/

# Ignorar datos y subidas de archivos temporales
solicitudesApi/tmp/
solicitudesApi/temp/
solicitudesApi/uploads/


# Ignorar cualquier otro archivo que no deba ser subido al repositorio
*.bak
*.old
*.orig
